# EmailJS – https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_rluxyhj
VITE_EMAILJS_PUBLIC_KEY=2Mn5PSHly3Svu9AjW

# Query template: inquiry sent to your company. In the template, set "To" to {{to_email}}.
# Template params: to_email, from_name, from_company, from_country, from_email, product_requirement, message
VITE_EMAILJS_TEMPLATE_ID=your_query_template_id

# Company email – recipient for the query (fixes "recipients address is empty" when template To = {{to_email}})
VITE_EMAILJS_TO_EMAIL=yourcompany@gmail.com

# Reply template: auto-reply to user. In the template, set "To" to {{email}}. Params: name, email
VITE_EMAILJS_REPLY_TEMPLATE_ID=template_3vmyuod
